<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1097823713214-00p82dvnfdrd1nn3c33k7n3ino2l8h85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097823713214-00p82dvnfdrd1nn3c33k7n3ino2l8h85</string>
	<key>API_KEY</key>
	<string>AIzaSyAI6BuMjjGAkkVFZIVg4E32g-GAYK0bWW8</string>
	<key>GCM_SENDER_ID</key>
	<string>1097823713214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camnosa.app</string>
	<key>PROJECT_ID</key>
	<string>camnosa-1267</string>
	<key>STORAGE_BUCKET</key>
	<string>camnosa-1267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097823713214:ios:fcf52d0dfb6a5665</string>
	<key>DATABASE_URL</key>
	<string>https://camnosa-1267.firebaseio.com</string>
</dict>
</plist>
